:root {
    --light-blue: #3168a6;
    --cwru-blue: #003071;
    --red: #d63d1f;
    --orange: #f27422;
}

/* You can add global styles to this file, and also import other style files */
// Allow full screen displays
html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
